<header class="header container">
  <a href="">
    <img class="logo" src="/src/images/pixaba-1987090_640.png" alt="pix-logo" />
  </a>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit">Search</button>
  </form>
</header>
<div class="container">
  <h1 class="title">PIXABAY IMAGES SEARCH</h1>
</div>


<section class="gallery-section">
  
  <div class="gallery container " id="js-gallery">
<!-- Тут разметка -->
  </div>
</section>


<div class="btn-up btn-up_hide">
  
</div>
 
<!-- <footer class="footer">
  <div class="container">
    <p>Georiy Sergeev</p>
  </div>
</footer> -->
